.footer {
    top: 50px;
    position: relative;
    &__bg-clr-grn {
        border-bottom: 0.5rem solid #5bd1b1;
    }
    &__bg-clr-blue {
        border-bottom: 0.5rem solid #2c99f4;
    }
    &__check {
        top: 1.8rem;
        position: relative;
        background-image: url('../../../assets/images/check.svg');
        height: 1rem;
        border-radius: 50%;
        width: 1rem;
        &--blue {
            background-color: #2c99f4;
        }
        &--green {
            background-color: #5bd1b1;
        }
    }
    &__text-align {
        position: relative;
        left: 1.5rem;
        bottom: 0.5rem;
    }
}