.register {
    &--form-group {
        margin-bottom: 15px;
    }
    &__mar-tb-2 {
        margin: 2rem 0;
    }
    &--btn-primary {
        width: 10rem;
        background-color: #5bd1b1;
        margin-top: 1.5rem;
        border-color: #5bd1b1;
    }

}
